<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/welcome" class="btn btn-primary" >Pagina Principal</a>
<a href="/newPost"class="btn btn-primary">Nuevo Post</a>

<section class="main container" th:each="user: ${users}">
    <a th:href="${ '/user/' + user.username} "><h1 th:text="${user.username}"></h1></a>

    <section class="main container" th:each="post : ${postList}">
        <article class="publicacion clearfix">

            <h2 class="publicacion-tittle">
                <!--<a th:href="${'/post/' + post.id}" th:text="${post.link}"></a> -->
                <!-- <a th:if="(${post.link} != null)" th:with="return=(${'/'})" th:href="@{${post.link}}"></a> -->
                <a target="_blank"  th:href="@{'http://' + ${post.link}}" th:text="${post.link}"></a>
            </h2>

            <p class="publicacion-contenido text-justify" th:text="${post.text}">

            </p>
            <div class="contenedor-botones">
                <a href="#" class="btn btn-primary" th:href="${'/editPost/' + post.id}">Editar</a>
                <a href="#" class="btn btn-warning" th:href="${'/deletePost/' + post.id}"> Eliminar</a>
            </div>
        </article>
    </section>
</section>


</body>
</html>