<!DOCTYPE html>
<html lang="en">
<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <form class="form-inline my-2 my-lg-0 glyphicon-align-right">
            <a class="btn btn-warning" role= "button" href="/admin">Go Back HomePage</a>
        </form>
    </nav>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</header>
<body>
<br>
<form action="/createCategory" method="POST">
    <b>Nueva Categoria: </b><input type="text" name="name">
    <input type="submit" class="btn btn-primary" value="Guardar">
</form>
</body>
</html>